//REGULAR SCHEME
$regular_accent_color_1: #191826;

$regular_accent_color_2: #00ded1;

$regular_accent_color_3: #0060ce;

//p, projects
$regular_accent_color_4: #6a7680;

$regular_accent_color_5: #06c4b9;

//header/footer bg
$regular_accent_color_6: #151420;


//INVERT SCHEME
$invert_accent_color_1: #fff;

$invert_accent_color_2: #f8f8f8;

//social
$invert_accent_color_3: #94929b;

$border_color: #e4e4e4;

$contact_form_border_color: #45444e;

.invert {color: #fff;}

