@import "settings/colors";

h1,h2,h3{
  font-family: 'Merriweather', serif;
  font-weight: 700;
}

h4,h5,span{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

p{
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: $regular_accent_color_4;
}

h1{
  font-size: 72px;
}
h2 {
  font-size: 48px;
}
h3 {
  font-size: 36px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 18px;
}
h5.upper{
  text-transform: uppercase;
  color: $regular_accent_color_2;
}
span{
  font-size: 12px;
}

h2,h5{
  color: $regular_accent_color_1;
}
a{
  color: inherit;
  &:hover, &:active {
    color: $regular_accent_color_2;
  }
}
