html,
body{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
}

.users__btn {
    padding: 5px 10px;
    margin: 20px auto;
}


.users {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: auto;
    height: 100%;
    align-items: flex-start;
}

.users__content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
    flex-grow: 1;
}

.user {
    width: 20%;
    margin: 0 20px 20px;
}

.user__info > div {
    margin-bottom: 5px;
}
.user__view {
    margin-bottom: 20px;
}

.user__link {
     text-decoration: none;
     display: inline-block;
     color: cadetblue;
}

.user__link:hover {
    text-decoration: underline;
}

.loading {
    height: 0;
    width: 0;
    padding: 15px;
    border: 6px solid #ccc;
    border-right-color: #888;
    border-radius: 22px;
    -webkit-animation: rotate 1s infinite linear;
    position: absolute;
    left: 50%;
    top: 50%;
}

@-webkit-keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
    }
}
